<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="pydev_completion" name="PyDev completion" schema="schema/pydev_completion.exsd"/>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.python.pydev.editor.codecompletion.PyCodeCompletionInitializer"/>
   </extension>

   <extension
         id="pythonNature"
         name="Python Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.python.pydev.plugin.nature.PythonNature">
         </run>
      </runtime>
      <builder id="org.python.pydev.builder"/>
   </extension>


 </plugin>
