<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="org.python.pydev.pydev_completion" name="PyDev completion" schema="schema/org.python.pydev.pydev_completion.exsd"/>
   <extension-point id="pydev_manager_observer" name="PyDev code completion manager observer" schema="schema/pydev_manager_observer.exsd"/>
   <extension-point id="pydev_builder" name="PyDev Builder" schema="schema/pydev_builder.exsd"/>

<!-- Nature for pydev -->
   <extension
         id="org.python.pydev.pythonNature"
         name="Python Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.python.pydev.plugin.nature.PythonNature">
         </run>
      </runtime>
   </extension>

<!-- Builder for pydev -->
    <extension
         id="org.python.pydev.PyDevBuilder"
         name="PyDev Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.python.pydev.ast.builder.PyDevBuilder"/>
      </builder>
    </extension>

</plugin>
