/*
 * Created on Dec 10, 2006
 * @author Fabio
 */
package com.python.pydev.refactoring;

public class TestDependentRefactoringtemplate {
    public static final String TEST_PYSRC_LOC_REFACTORING = TestDependent.TEST_PYDEV_BASE_LOC+"com.python.pydev.refactoring/tests/pysrcrefactoring/";
}
