<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<extension point="org.eclipse.ui.navigator.viewer">
</extension>

    <extension point="org.eclipse.ui.viewActions"> 
	  <viewContribution 
		id="org.python.pydev.navigator.actions.mylyn" 
   		targetID="org.python.pydev.navigator.view">
    	<action
           class="org.python.pydev.mylyn.PyFocusExplorerAction"
           enablesFor="*"
           icon="icons/elcl16/interest-filtering.gif"
           id="org.python.pydev.navigator.actions.mylyn.FilterResourceNavigatorAction"
           label="Focus on Active Task"
           menubarPath="additions"
           style="toggle"
           toolbarPath="additions"
           tooltip="Focus on Active Task (Alt+Click to reveal filtered elements)"> 
  		</action> 
      </viewContribution>
       
   </extension>

</plugin>
