.hg
.hgignore
.metadata
External Plug-in Libraries
plugins/com.python.pydev.docs/merged_homepage/final/*.*
plugins/org.python.pydev.releng/results/*
plugins/com.python.pydev.releng/results/*
org.python.pydev/bin
plugins/com.python.pydev.fastparser/bin
plugins/org.python.pydev.refactoring/bin
plugins/org.python.pydev.parser/bin
org.eclipse.*
plugins/com.python.pydev.docs/new_homepage/final/*
plugins/com.python.pydev.docs/open_source/final/*
features/org.python.pydev.feature/bin/
features/org.python.pydev.django_templates.feature/bin/
git-kdiff3
plugins/com.python.pydev.analysis/bin/
plugins/com.python.pydev.codecompletion/bin/
plugins/com.python.pydev.debug/bin/
plugins/com.python.pydev.docs/.pydevproject
plugins/com.python.pydev.fastparser/.pydevproject
plugins/com.python.pydev.refactoring/bin/
plugins/com.python.pydev.refactoring/tests/com/python/pydev/refactoring/TestDependentRefactoring.java
plugins/com.python.pydev.runalltests/bin/
plugins/com.python.pydev/.pydevproject
plugins/com.python.pydev/bin/
plugins/org.python.pydev.ast/bin/
plugins/org.python.pydev.core/bin/
plugins/org.python.pydev.core/tests/org/python/pydev/core/TestDependent.java
plugins/org.python.pydev.customizations/bin/
plugins/org.python.pydev.debug/.pydevproject
plugins/org.python.pydev.debug/bin/
plugins/org.python.pydev.help/.pydevproject
plugins/org.python.pydev.jython/.pydevproject
plugins/org.python.pydev.jython/bin/
plugins/org.python.pydev.mylyn/bin/
plugins/org.python.pydev.runalltests/bin/
plugins/org.python.pydev/.pydevproject
plugins/org.python.pydev/bin/
plugins/com.python.pydev.pytoobjectivec/
*.pyc
*.idx
*.orig
CVS
.svn
indexcache
v1_indexcache
v1_astmanager
*.pyc
*.class
*.astdelta
Thumbs.db
.cvsignore
*.pydevinfo
*.pydevsysteminfo
*.pkc
ProfileProject
de.loskutov.anyedit.AnyEditTools.prefs
*asthelper.completions
plugins/org.kacprzak.eclipse.django.editor.plugin/
plugins/org.python.pydev.django_templates/bin
etc/
plugins/org.python.pydev/tests/pysrc/extendable/bootstrap_dll/umath.pyd
plugins/com.python.pydev.runalltests/Configuration*
external-sources
plugins/org.python.pydev.parser/tests/org/python/pydev/parser/generated_data_test_utf8_with_bom.py
plugins/com.python.pydev.runalltests/Only.Pydev.launch
plugins/com.python.pydev.docs/merged_homepage/*.rst_html
data_temporary_for_testing
plugins/jdt_plugins/
builders/org.python.pydev.build/build.properties

# Mac OS X stuff

Desktop DF
Desktop DB
.Spotlight-V100
.DS_Store
.Trashes
.com.apple.timemachine.supported
.fseventsd
.syncinfo
.TemporaryItems
._.*
