.hg
.hgignore
.metadata
plugins/com.python.pydev.docs/merged_homepage/final/*.*
plugins/com.python.pydev.docs/new_homepage/final/*
plugins/com.python.pydev.docs/open_source/final/*
git-kdiff3
plugins/org.python.pydev.jython/cachedir
plugins/**/bin/
features/**/bin/
plugins/**/indexcache/
*.pyc
*.idx
*.orig
CVS
.svn
v1_indexcache
v1_astmanager
*.pyc
*.class
*.astdelta
Thumbs.db
.cvsignore
*.pydevinfo
*.pydevsysteminfo
*.pkc
ProfileProject
de.loskutov.anyedit.AnyEditTools.prefs
*asthelper.completions
plugins/org.python.pydev/tests/pysrc/extendable/bootstrap_dll/umath.pyd
plugins/com.python.pydev.runalltests/Configuration*
external-sources
plugins/org.python.pydev.parser/tests/org/python/pydev/parser/generated_data_test_utf8_with_bom.py
plugins/com.python.pydev.runalltests/Only.Pydev.launch
plugins/com.python.pydev.docs/merged_homepage/*.rst_html
data_temporary_for_testing
plugins/jdt_plugins/
*v1_projectinfodelta
plugins/com.python.pydev.runalltests/New_configuration1.launch
target/
# Mac OS X stuff
Desktop DF
Desktop DB
.Spotlight-V100
.DS_Store
.Trashes
.com.apple.timemachine.supported
.fseventsd
.syncinfo
.TemporaryItems
plugins/org.python.pydev/pysrc/.git
plugins/org.python.pydev/pysrc/.project
plugins/org.python.pydev/pysrc/.settings
