/*** Nav bar styles ***/


.linav {
	margin: 10px;
	padding: 0px;
}

.ulnav {
	margin: 0px;
	padding: 0px;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#ffffff ; 
	color:#252020 ; 
	
}

.italic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#DFE5D5 ; 
	color:#252020 ; 
	
}

.download_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	color: #666666;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.header_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #666666;
	margin: 3px;
}
.menu_links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #666666;
}
.menu_links_normal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: normal;
	color: #666666;
}
.menu_headings {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #FFFFFF;
	font-weight: bold;
}

.body_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}

.td_top{
	border-collapse=collapse;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.td_bottom{
	border-collapse=collapse;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}

.td_left {
	margin-left: 10px;
}

.td_right {
	border-collapse=collapse;
	border-left-width: 1px;
	border-left-style:dotted;
	border-left-color: #000000;
	
}
