/*=================================================================================================

	File:		style.css
	
	Author:		Parhaum Toofanian, Copyright 2004
	Contact:	ptoofani@andrew.cmu.edu
	Created:	2004-06-14
	Modified:	2004-06-14
	
	Style file for PyDev User Guide in Eclipse.

=================================================================================================*/


Body
{
	scrollbar-3dlight-color: 	white; 
	scrollbar-arrow-color: 		#005CA9; 
	scrollbar-base-color: 		white; 
	scrollbar-darkshadow-color: white; 
	scrollbar-face- color: 		white; 
	scrollbar-highlight-color: 	#4D8CC2; 
	scrollbar-shadow-color: 	#014B8C; 
	scrollbar-track-color: 		white;
	margin: 					10px;
	padding: 					0px;
	background-color: 			#10395E;
	color:						#C2C2C2;
	font-family:				arial;
}

A
{
	font-family:				courier;
	font-style:					bold;
	text-decoration: 			none;
	color: 						white;
}

A:Visited 
{
	font-family:				courier;
	font-style:					bold;
	text-decoration: 			none;
	color: 						white;
}

A:Hover
{
	font-family:				courier;
	font-style:					bold;
	text-decoration: 			none; /* underline overline */
	color: 						orange;
}

A.Heading
{
	font-size:					13pt;
	font-family:				tahoma;
	font-style:					bold;
	font-weight:				800;
	text-decoration: 			none;
	color: 						white;
}

A.Heading:Visited 
{
	font-size:					13pt;
	font-family:				tahoma;
	font-style:					bold;
	font-weight:				800;
	text-decoration: 			none;
	color: 						white;
}

A.Heading:Hover
{
	font-size:					13pt;
	font-family:				tahoma;
	font-style:					bold;
	font-weight:				800;
	text-decoration: 			none; /* underline overline */
	color: 						orange;
}

p.Heading
{
	font-size:					13pt;
	font-style:					normal;
	font-weight:				800;
	font-family:				tahoma;
	cursor:						default;
}











.MenuTable
{
	border: 					1px solid black; 
}

.BannerTable
{
	font-size:					24pt;
	color: 						white;
	background-color:			#276295;
	border: 					1px solid black; 
	font-family:				tahoma;
	cursor:						default;
}

.LogoTable
{
	font-size:					24pt;
	color: 						#276295;
	background-color:			white;
	border: 					1px solid white; 
	font-family:				tahoma;
	cursor:						default;
}

.MenuRowInverse
{
	font-size:					8pt;
	font-style:					bold;
	font-weight:				800;
	color: 						#FF8A00;
	background-color:			white;
	border: 					1px solid black; 
	cursor:						default;
}

.CopyrightRowInverse
{
	font-size:					8pt;
	color: 						#276295;
	background-color:			white;
	border: 					1px solid black; 
	cursor:						default;
}

.MenuRow
{
	font-size:					9pt;
	color: 						white;
	background-color:			#4D8CC2;
	border: 					1px solid black; 
	cursor:						default;
}

.MenuRowOff
{
	font-family:				verdana;
	font-size:					8pt;
	color: 						white;
	background-color:			#4D8CC2;
	border: 					1px solid #4D8CC2; 
	cursor:						default;
}

.MenuRowOver
{
	font-family:				verdana;
	font-size:					8pt;
	color: 						white;
	background-color:			#FF8A00;
	border: 					1px solid black; 
	cursor:						hand;
}

.MenuBox
{
	font-size:					9pt;
	color: 						white;
	background-color:			#4D8CC2;
	border: 					1px solid black; 
	cursor:						default;
}

.TheaterName
{
	font-size:					14pt;
	font-style:					bold;
	font-weight:				800;
	color: 						#26659B;
	background-color:			white;
	border: 					1px solid black; 
}

.MovieName
{
	font-family:				verdana;
	font-size:					10pt;
	font-style:					bold;
	color: 						white;
	background-color:			gray;
	border: 					1px solid black; 
}

.ShowingText
{
	font-family:				verdana;
	font-size:					8pt;
	color: 						black;
	background-color:			white;
}

.ShowingTextSoldOut
{
	font-family:				arial;
	font-size:					10pt;
	color: 						red;
	background-color:			white;
}

.FormText
{
	font-family:				verdana;
	font-size:					12pt;
	font-style:					bold;
	color: 						black;
	background-color:			white;
}

.FormContents
{
	font-family:				verdana;
	font-size:					8pt;
	color: 						white;
	background-color:			#4D8CC2;
	border: 					1px solid black; 
}


.Error
{
	font-family:				verdana;
	font-size:					10pt;
	color: 						red;
	background-color:			white;
}

.Main
{
	font-family:				arial;
	font-size:					9pt;
	text-decoration: 			none;
	color: 						black;
}


A.Main
{
	font-family:				arial;
	font-size:					9pt;
	text-decoration: 			none;
	color: 						#26659B;
}

A.Main:Visited 
{
	font-family:				arial;
	font-size:					9pt;
	text-decoration: 			none;
	color: 						#26659B;
}

A.Main:Hover
{
	font-family:				arial;
	font-size:					9pt;
	text-decoration: 			none;
	color: 						#4D8CC2;
}


A.Error
{
	font-family:				arial;
	font-size:					9pt;
	text-decoration: 			none;
	color: 						red;
}

A.Error:Visited 
{
	font-family:				arial;
	font-size:					9pt;
	text-decoration: 			none;
	color: 						red;
}

A.Error:Hover
{
	font-family:				arial;
	font-size:					9pt;
	text-decoration: 			none;
	color: 						#FF4545;
}

.SoldOut
{
	font-family:				arial;
	font-size:					10pt;
	text-decoration: 			none;
	color: 						red;
}

.MovieTime
{
	font-family:				verdana;
	font-size:					8pt;
	color: 						black;
	background-color:			white;
	text-decoration: 			none;
}







.Button
{
	text-decoration: 			none;
	font-size:					8pt;
	font-family:				verdana;
	color: 						#4D8CC2;
	background-color:			white;
	border: 					1px solid #4D8CC2; 
}

A.Menu 
{
	text-decoration: 			none;
	color: 						white;
}

A.Menu:Visited 
{
	text-decoration: 			none;
	color: 						white;
}

A.Menu:Hover 
{
	text-decoration: 			none;
	color: 						white;
}




.MenuOff
{
	text-decoration: 			none;
	font-size:					10pt;
	font-family:				Arial;
	font-weight:				800;
	font-style:					bold;
	color: 						white;
	background-color:			#0067F6;
	background-image: 			url(../images/menu-off.jpg);
	/*background-image: 		url(../images/menu-off.jpg);*/
	border: 					1px solid black; 
	cursor:						hand;
}

.MenuCurrent
{
	text-decoration: 			none;
	font-size:					10pt;
	font-family:				Arial;
	font-weight:				800;
	font-style:					bold;
	color: 						white;
	background-color:			#FBA144;
	background-image: 			url(../images/menu-on.jpg);
	/*background-image:	 		url(../images/menu-on.jpg);*/
	border: 					1px solid black; 
	cursor:						hand;
}

.MenuOver
{
	text-decoration: 			none;
	font-size:					10pt;
	font-family:				Arial;
	font-weight:				800;
	font-style:					bold;
	color: 						white;
	background-color:			#FBA144;
	background-image: 			url(../images/menu-on.jpg);
	/*background-image: 		url(../images/menu-on.jpg);*/
	border: 					1px solid black; 
	cursor:						hand;
}

.MenuTable
{
	border: 					1px solid black; 
}

.LegalTable
{
	font-size:					8pt;
	font-family:				arial;
	font-weight:				400;
	color: 						black;
	border: 					1px solid black; 
	background-color: 			white;
	/*background-color: 			005BA8;
	background-image: 			url(../images/menu-on.jpg);*/
	margin: 					0px;
	cursor: 					hand;
}

.Text-Content
{
	font-size:					9pt;
	font-family:				arial;
	color: 						black;
	background-color: 			white;
}


.Text-Headline
{
	font-size:					9pt;
	font-family:				arial;
	color: 						black;
	background-color: 			white;
}

.GalleryText
{
	font-size:					9pt;
	font-family:				arial;
	color: 						black;
}

.Gallery-Off
{
	font-size:					9pt;
	font-family:				arial;
	color: 						black;
	border: 					1px solid white; 
}

.Gallery-Curr
{
	font-size:					9pt;
	font-family:				arial;
	color: 						black;
	border: 					1px solid #005eb5; 
	cursor:						default;
}

.Gallery-On
{
	font-size:					9pt;
	font-family:				arial;
	color: 						black;
	border: 					1px solid #005eb5; 
	cursor:						hand;
}

.Tiny
{
	font-size:					40pt;
}


TABLE.Text
{
	font-size:					9pt;
	font-family:				arial;
	color: 						black;
}
