/*=================================================================================================

	File:		style.css
	
	Author:		Parhaum Toofanian, Copyright 2004
	Contact:	ptoofani@andrew.cmu.edu
	Created:	2004-06-14
	Modified:	2004-06-14
	
	Style file for PyDev User Guide in Eclipse.

=================================================================================================*/


Body
{
	scrollbar-3dlight-color: 	white; 
	scrollbar-arrow-color: 		#005CA9; 
	scrollbar-base-color: 		white; 
	scrollbar-darkshadow-color: white; 
	scrollbar-face- color: 		white; 
	scrollbar-highlight-color: 	#4D8CC2; 
	scrollbar-shadow-color: 	#014B8C; 
	scrollbar-track-color: 		white;
	margin: 					10px;
	padding: 					0px;
	background-color: 			#10395E;
	color:						#C2C2C2;
	font-family:				arial;
}

A
{
	font-family:				courier;
	font-style:					bold;
	text-decoration: 			none;
	color: 						white;
}

A:Visited 
{
	font-family:				courier;
	font-style:					bold;
	text-decoration: 			none;
	color: 						white;
}

A:Hover
{
	font-family:				courier;
	font-style:					bold;
	text-decoration: 			none; /* underline overline */
	color: 						orange;
}

A.Heading
{
	font-size:					13pt;
	font-family:				tahoma;
	font-style:					bold;
	font-weight:				800;
	text-decoration: 			none;
	color: 						white;
}

A.Heading:Visited 
{
	font-size:					13pt;
	font-family:				tahoma;
	font-style:					bold;
	font-weight:				800;
	text-decoration: 			none;
	color: 						white;
}

A.Heading:Hover
{
	font-size:					13pt;
	font-family:				tahoma;
	font-style:					bold;
	font-weight:				800;
	text-decoration: 			none; /* underline overline */
	color: 						orange;
}

p.Heading
{
	font-size:					13pt;
	font-style:					normal;
	font-weight:				800;
	font-family:				tahoma;
	cursor:						default;
}


.Pointer
{
	font-size:					12pt;
	font-style:					normal;
	font-weight:				800;
	font-family:				tahoma;
	cursor:						default;
	color:						orange;
}



