<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="com.python.pydev.codecompletion.ui.CodeCompletionPreferencesPage"
            category="org.python.pydev.prefs.editor"
            id="org.python.pydev.prefs.extensions.codecompletion"
            name="Code Completion (ctx insensitive and common tokens)"/>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.python.pydev.codecompletion.CodeCompletionPreferencesInitializer"/>
   </extension>

   <extension point="org.python.pydev.pydev_completion">
  		<completion_participant class="com.python.pydev.codecompletion.participant.ImportsCompletionParticipant"/>
   </extension>

   <extension point="org.python.pydev.pydev_completion">
  		<completion_participant class="com.python.pydev.codecompletion.ctxinsensitive.CtxParticipant"/>
   </extension>
   
   <extension point="org.python.pydev.pydev_simpleassist">
  		<simpleassist_participant class="com.python.pydev.codecompletion.simpleassist.KeywordsSimpleAssist"/>
   </extension>
   

</plugin>
