<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.python.pydev.overview_ruler.MinimapPreferenceInitializer"/>
   </extension>
   <!--
   <extension point="org.eclipse.ui.preferencePages">
      <page
            name="Overview Ruler Minimap"
            category="org.python.pydev.prefs.editor"
            class="org.python.pydev.overview_ruler.MinimapOverviewRulerPreferencesPage"
            id="org.python.pydev.overview_ruler.minimapOverviewRulerPreferencesPage">
      </page>
   </extension>
   -->
   
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.python.pydev.shared_ui.editor_input.PyEditorInputFactory"
            id="org.python.pydev.editorinput.pyEditorInputFactory">
      </factory>
   </extension>
   
</plugin>
