/*
 * Create a file TestDependent.java with the contents in this file and substitute the
 * values as needed...
 */
package org.python.pydev.core;

public class TestDependent {

    //NOTE: this should be gotten from some variable to point to the python lib (less system dependence, but still, some).
    
    
    public static final String PYTHON_INSTALL="d:/bin/Python251/";
    public static String PYTHON_EXE=PYTHON_INSTALL+"python.exe";
    public static final String PYTHON_LIB=PYTHON_INSTALL+"Lib/";
    public static final String PYTHON_SITE_PACKAGES=PYTHON_LIB+"site-packages/";
    public static final String PYTHON_WXPYTHON_PACKAGES="NA";
    public static final String PYTHON_NUMARRAY_PACKAGES="NA";
    public static final String PYTHON_NUMPY_PACKAGES=PYTHON_SITE_PACKAGES+"numpy-1.0.4-py2.5-win32.egg/";
    public static final String PYTHON_MX_PACKAGES = "NA";
    public static final String PYTHON_PIL_PACKAGES = "NA";
    
    //python 3.0
    public static final String PYTHON_30_INSTALL="d:/bin/Python30/";
    public static String PYTHON_30_EXE=PYTHON_30_INSTALL+"python.exe";
    public static final String PYTHON_30_LIB=PYTHON_30_INSTALL+"Lib/";
    
    public static String GetCompletePythonLib(boolean addSitePackages) {
        if(!addSitePackages){
            return PYTHON_LIB;
        }else{
            return PYTHON_LIB+"|"+PYTHON_SITE_PACKAGES;
        }
    }

    
    //NOTE: this should set to the tests pysrc location, so that it can be added to the pythonpath.
    public static final String TEST_PYDEV_BASE_LOC = "W:/";
    public static final String TEST_PYSRC_LOC=TEST_PYDEV_BASE_LOC+"org.python.pydev/tests/pysrc/";
    public static final String TEST_PYSRC_NAVIGATOR_LOC=TEST_PYDEV_BASE_LOC+"org.python.pydev/tests_navigator/pysrc/";
    public static final String TEST_PYSRC_LOC2 = TEST_PYDEV_BASE_LOC+"org.python.pydev/tests/pysrc2/";
    public static final String TEST_PYDEV_PLUGIN_LOC = TEST_PYDEV_BASE_LOC+"org.python.pydev/";
    public static final String TEST_PYDEV_DEBUG_PLUGIN_LOC = TEST_PYDEV_BASE_LOC+"org.python.pydev.debug/";
    public static final String TEST_PYDEV_JYTHON_PLUGIN_LOC = TEST_PYDEV_BASE_LOC+"org.python.pydev.jython/";
    public static final String TEST_PYDEV_PARSER_PLUGIN_LOC = TEST_PYDEV_BASE_LOC+"org.python.pydev.parser/";
    public static final String TEST_PYDEV_REFACTORING_PLUGIN_LOC = TEST_PYDEV_BASE_LOC+"org.python.pydev.refactoring/";

    //java info
    public static final String JAVA_LOCATION="d:/bin/jdk_1_5_09/bin/java.exe";
    public static final String JAVA_RT_JAR_LOCATION= "d:/bin/jdk_1_5_09/jre/lib/rt.jar";
    
    public static final String JYTHON_JAR_LOCATION="d:/bin/jython-2.2.1/jython.jar";
    public static final String JYTHON_LIB_LOCATION="d:/bin/jython-2.2.1/lib/";
    public static final String JYTHON_ANT_JAR_LOCATION="D:/bin/eclipse331_1/plugins/org.apache.ant_1.7.0.v200706080842/lib/ant.jar";
    public static final String JYTHON_JUNIT_JAR_LOCATION="D:/bin/eclipse331_1/plugins/org.junit_3.8.2.v200706111738/junit.jar";
    
    //we cannot test what we don't have...
    public static final boolean HAS_WXPYTHON_INSTALLED = false;
    public static final boolean HAS_QT_INSTALLED = false;
    public static final boolean HAS_GLU_INSTALLED = false;
    public static final boolean HAS_SWT_ON_PATH = false;
    public static final boolean HAS_NUMARRAY_INSTALLED = false;
    public static final boolean HAS_NUMPY_INSTALLED = true;
    public static final boolean HAS_MX_DATETIME = false;
    
    public static final boolean HAS_CYGWIN = false;
    public static final String CYGWIN_CYGPATH_LOCATION = "C:/bin/cygwin/bin/cygpath.exe";
    public static final String CYGWIN_UNIX_CYGPATH_LOCATION = "/usr/bin/cygpath.exe";
    public static final boolean HAS_PYTHON_TESTS = true;
    public static final boolean HAS_PIL = false;
}
