<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Preferences page -->
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="org.python.pydev.jython.ui.JyScriptingPreferencesPage"
            category="org.python.pydev.prefs"
            id="org.python.pydev.jython.ui.JyScriptingPreferencesPage"
            name="Scripting Pydev"/>
   </extension>
<!-- Initialize our preferences -->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.python.pydev.jython.ScriptingExtensionInitializer"/>
   </extension>
   <extension point="org.eclipse.ui.commands">
<!-- command: go to next problem-->
      <command
            description="Go to the next problem."
            id="org.python.pydev.core.script.pyedit_find_next_problem"
            categoryId="org.python.pydev.ui.category.source"
            name="Go to the next problem">
      </command>
      <command
            description="Go to the previous problem."
            id="org.python.pydev.core.script.pyedit_find_previous_problem"
            categoryId="org.python.pydev.ui.category.source"
            name="Go to the previous problem">
      </command>
   </extension>
   <extension point="org.eclipse.ui.bindings">
<!-- binding: go to next problem-->
      <key
            sequence="Ctrl+."
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.core.script.pyedit_find_next_problem"	
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+Shift+."
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.core.script.pyedit_find_previous_problem"	
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>


</plugin>
