/*
 * Create a file TestDependent.java with the contents in this file and substitute the
 * values as needed...
 */
package org.python.pydev.core;

public class TestDependent {

    //NOTE: this should be gotten from some variable to point to the python lib (less system dependence, but still, some).
    public static String PYTHON_EXE="C:/Shared/i686.win32/python-2.4.3/python.exe";
    public static final String PYTHON_INSTALL="C:/Shared/i686.win32/python-2.4.3/";
    public static final String PYTHON_LIB="C:/Shared/i686.win32/python-2.4.3/Lib/";
    public static final String PYTHON_SITE_PACKAGES="C:/Shared/i686.win32/python-2.4.3/Lib/site-packages/";
    public static final String PYTHON_WXPYTHON_PACKAGES="C:/Shared/i686.win32/python-2.4.3/Lib/site-packages/wx-2.6-msw-ansi/";
    public static final String PYTHON_NUMARRAY_PACKAGES="C:/Shared/i686.win32/python-2.4.3/Lib/site-packages/numarray/";
    
    
    //NOTE: this should set to the tests pysrc location, so that it can be added to the pythonpath.
    public static final String TEST_PYDEV_BASE_LOC = "X:/";
    public static final String TEST_PYSRC_LOC=TEST_PYDEV_BASE_LOC+"org.python.pydev/tests/pysrc/";
    public static final String TEST_PYSRC_LOC2=TEST_PYDEV_BASE_LOC+"org.python.pydev/tests/pysrc2/";
    public static final String TEST_PYDEV_PLUGIN_LOC = TEST_PYDEV_BASE_LOC+"org.python.pydev/";
    public static final String TEST_PYDEV_JYTHON_PLUGIN_LOC = TEST_PYDEV_BASE_LOC+"org.python.pydev.jython/";
    public static final String TEST_PYDEV_PARSER_PLUGIN_LOC = TEST_PYDEV_BASE_LOC+"org.python.pydev.parser/";
    public static final String TEST_PYDEV_DEBUG_PLUGIN_LOC = TEST_PYDEV_BASE_LOC+"org.python.pydev.debug/";
    public static final String TEST_PYDEV_REFACTORING_PLUGIN_LOC = TEST_PYDEV_BASE_LOC+"org.python.pydev.refactoring/";

    //java info 
    public static final String JAVA_LOCATION="C:/bin/jdk1_5_0_09/bin/java.exe";
    public static final String JAVA_RT_JAR_LOCATION= "C:/bin/jdk1_5_0_09/jre/lib/rt.jar";
    
    public static final String JYTHON_JAR_LOCATION="C:/bin/jython21/jython.jar";
    public static final String JYTHON_LIB_LOCATION="C:/bin/jython21/lib/";
    
    //we cannot test what we don't have...
    public static final boolean HAS_WXPYTHON_INSTALLED = false;
    public static final boolean HAS_QT_INSTALLED = false;
    public static final boolean HAS_GLU_INSTALLED = false;
    public static final boolean HAS_SWT_ON_PATH = false;
    public static final boolean HAS_NUMARRAY_INSTALLED = false;
	public static final boolean HAS_MX_DATETIME = false;
	
	public static boolean HAS_CYGWIN = false;
	public static String CYGWIN_PYTHON_EXE="E:/install/Utils.Cygwin/bin/python2.4.exe";
	public static final String CYGWIN_CYGPATH_LOCATION = "c:/bin/cygwin/bin/cygpath.exe";
	public static final String CYGWIN_UNIX_CYGPATH_LOCATION = "/usr/bin/cygpath.exe";
	public static final boolean HAS_PYTHON_TESTS = false;
}
