/*
 * Create a file TestDependent.java with the contents in this file and substitute the
 * values as needed...
 */
package org.python.pydev.core;

public class TestDependent {

    //NOTE: this should be gotten from some variable to point to the python lib (less system dependence, but still, some).
    public static String PYTHON_EXE="D:/bin/Python24/python.exe";
    public static final String PYTHON_INSTALL="D:/bin/Python24/";
    public static final String PYTHON_LIB="D:/bin/Python24/Lib/";
    public static final String PYTHON_SITE_PACKAGES="D:/bin/Python24/Lib/site-packages/";
    public static final String PYTHON_WXPYTHON_PACKAGES="D:/bin/Python24/Lib/site-packages/wx-2.6-msw-ansi/";
    public static final String PYTHON_NUMARRAY_PACKAGES="D:/bin/Python24/Lib/site-packages/numarray/";
    
    //NOTE: this should set to the tests pysrc location, so that it can be added to the pythonpath.
    public static final String TEST_PYSRC_LOC="E:/eclipse_workspace/org.python.pydev/tests/pysrc/";
    public static final String TEST_PYDEV_PLUGIN_LOC = "E:/eclipse_workspace/org.python.pydev/";
    public static final String TEST_PYDEV_JYTHON_PLUGIN_LOC = "E:/eclipse_workspace/org.python.pydev.jython/";

    //java info
    public static final String JAVA_LOCATION="C:/Program Files/Java/jre1.5.0_04/bin/java.exe";
    public static final String JAVA_RT_JAR_LOCATION= "C:/Program Files/Java/jre1.5.0_04/lib/rt.jar";
    
    public static final String JYTHON_JAR_LOCATION="D:/bin/jython21/jython.jar";
    public static final String JYTHON_LIB_LOCATION="D:/bin/jython21/lib/";
    
    //we cannot test what we don't have...
    public static final boolean HAS_WXPYTHON_INSTALLED = false;
    public static final boolean HAS_QT_INSTALLED = true;
    public static final boolean HAS_GLU_INSTALLED = true;
    public static final boolean HAS_SWT_ON_PATH = false;
    public static final boolean HAS_NUMARRAY_INSTALLED = true;
	public static final boolean HAS_MX_DATETIME = false;
}
