<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.python.pydev.pydev_refactoring">
  		<refactoring_participant class="com.python.pydev.refactoring.refactorer.Refactorer"/>
   </extension>
<!-- still not ready
   <extension point="org.python.pydev.pydev_formatter">
  		<refactoring_participant class="com.python.pydev.refactoring.visitors.Formatter"/>
   </extension>
-->
   <extension point="org.python.pydev.pydev_pyedit_listener">
  		<pyedit_listener_participant class="com.python.pydev.refactoring.markocurrences.MarkOccurrencesDispatcher"/>
   </extension>
   
<!-- Initialize our preferences -->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.python.pydev.refactoring.RefactoringPreferencesInitializer"/>
   </extension>
<!-- Mark Occurrences preferences -->
   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="com.python.pydev.refactoring.ui.MarkOccurrencesPreferencesPage"
            category="org.python.pydev.prefs.extensions"
            id="com.python.pydev.refactoring.ui.MarkOccurrencesPreferencesPage"
            name="Mark Occurrences"/>
   </extension>

</plugin>
