<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.python.pydev.refactoring"
   name="PyDev Refactoring Plug-in"
   version="0.0.1"
   provider-name="Fabio Zadrozny"
   class="com.python.pydev.refactoring.RefactoringPlugin">

   <runtime>
      <library name="refactoring.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.python.pydev"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.python.pydev.core"/>
      <import plugin="org.python.pydev.parser"/>
   </requires>

</plugin>
