<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.python.pydev.pydev_pyedit_listener">
      <pyedit_listener_participant
            class="org.python.pydev.red_core.AddRedCoreTheme">
      </pyedit_listener_participant>
   </extension>
   <extension
         point="org.python.pydev.pydev_preferences_provider">
      <preferences_provider_participant
            class="org.python.pydev.red_core.AddRedCorePreferences">
      </preferences_provider_participant>
   </extension>
   
   <extension
         point="org.python.pydev.pydev_view_created_observer">
      <view_created_observer
            class="org.python.pydev.red_core.AddRedCoreThemeToView">
      </view_created_observer>
   </extension>
   

<!-- Declare the python content in the Aptana App Explorer
-->
<extension point="org.eclipse.ui.navigator.viewer">
    <viewerContentBinding viewerId="com.aptana.explorer.view">
        <includes>
            <contentExtension pattern="org.python.pydev.navigator.pythoncontent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/> 
            <contentExtension pattern="org.python.pydev.navigator.filters.*"/> 
        </includes>
    </viewerContentBinding>
</extension>


</plugin>
