<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.python.pydev.pydev_completion">
  		<completion_participant class="com.python.pydev.codecompletion.participant.CompletionParticipant"/>
   </extension>

   <extension point="org.python.pydev.pydev_completion">
  		<completion_participant class="com.python.pydev.codecompletion.ctxinsensitive.CtxParticipant"/>
   </extension>
   
   <extension point="org.python.pydev.pydev_interpreter_observer">
  		<interpreter_observer class="com.python.pydev.codecompletion.ctxinsensitive.InterpreterObserver"/>
   </extension>
   
   <extension point="org.python.pydev.pydev_builder">
  		<builder_participant class="com.python.pydev.codecompletion.builder.CtxInsensitiveBuilderVisitor"/>
   </extension>

</plugin>
