<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
	id="org.python.pydev.debug"
	name="Pydev debug"
	version="0.6.2"
	provider-name="Aleks Totic"
	class="org.python.pydev.debug.core.PydevDebugPlugin">

	<runtime>
		<library name="pydev-debug.jar"/>
	</runtime>
	<requires>
		<import plugin="org.eclipse.core.resources"/>
		<import plugin="org.eclipse.core.runtime"/>
		<import plugin="org.eclipse.core.boot"/>
		<import plugin="org.eclipse.ui"/>
		<import plugin="org.eclipse.ui.editors"/>
		<import plugin="org.eclipse.ui.externaltools"/>
		<import plugin="org.eclipse.ui.views"/>
		<import plugin="org.eclipse.jface.text"/>
		<import plugin="org.eclipse.debug.core"/>
		<import plugin="org.eclipse.debug.ui"/>
		<import plugin="org.python.pydev"/>
  <import plugin="org.eclipse.ui.workbench.texteditor"/>
  <import plugin="org.eclipse.ui.ide"/>
  <import plugin="org.eclipse.core.variables"/>
	</requires>


<!--- launcher -->
	<extension
		point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			name="Python"
			delegate="org.python.pydev.debug.ui.launching.PythonLaunchConfigurationDelegate"
			modes="run, debug, profile"
			id="org.python.pydev.debug.launchConfigurationType">
		</launchConfigurationType>
	</extension>
<!--- the launcher icon -->
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			icon="icons/python.gif"
			configTypeID="org.python.pydev.debug.launchConfigurationType"
			id="org.python.pydev.debug.ui.launchConfigurationTypeImage">
		</launchConfigurationTypeImage>
	</extension>
<!--- launcher tab group -->
	<extension
			point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			type="org.python.pydev.debug.launchConfigurationType"
			class="org.python.pydev.debug.ui.PythonTabGroup"
			id="org.python.pydev.debug.ui.PythonTabGroup">
		</launchConfigurationTabGroup>
	</extension>
<!--- launch shortcuts -->
	<extension
			point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			label="Python script"
			icon="icons/python.gif"
			modes="run, debug, profile"
			class="org.python.pydev.debug.ui.launching.LaunchShortcut"
			id="org.python.pydev.debug.ui.launchShortcut">
			<perspective id="org.eclipse.debug.ui.DebugPerspective"/>
		</shortcut>
	</extension>
<!--- launcher pop up over a python file -->
	<extension
			point="org.eclipse.ui.popupMenus">
		<objectContribution
			objectClass="org.eclipse.core.resources.IFile"
			adaptable="true"
			nameFilter="*.py"
			id="org.python.pydev.debug.RunPython">
			<menu
				label="Python"
				path="additions"
				id="org.python.pydev.debug.WorkspaceMenu">
				<separator name="group1"/>
			</menu>
			<action
				label="Debug..."
				icon="icons/python.gif"
				tooltip="Debug python script"
				class="org.python.pydev.debug.ui.actions.PythonRunActionDelegate"
				menubarPath="org.python.pydev.debug.WorkspaceMenu/group1"
				enablesFor="1"
				id="org.python.pydev.debug.DebugPythonAction">
			</action>
			<action
				label="Run..."
				icon="icons/python.gif"
				tooltip="Run a python script"
				class="org.python.pydev.debug.ui.actions.PythonRunActionDelegate"
				menubarPath="org.python.pydev.debug.WorkspaceMenu/group1"
				enablesFor="1"
				id="org.python.pydev.debug.RunPythonAction">
			</action>
			<action
				label="Coverage..."
				icon="icons/python.gif"
				tooltip="Make code coverage for a python script"
				class="org.python.pydev.debug.ui.actions.PythonRunActionDelegate"
				menubarPath="org.python.pydev.debug.WorkspaceMenu/group1"
				enablesFor="1"
				id="org.python.pydev.debug.CoveragePythonAction">
			</action>
<!-- Disabled until it works better...
	   <action
         enablesFor="1"
         label="pyUnit Test..."
         tooltip="Test a python script with pyUnit"
         icon="icons/python.gif"
         class="org.python.pydev.debug.ui.actions.PythonTestActionDelegate"
         menubarPath="org.python.pydev.debug.WorkspaceMenu/group1"
         id="org.python.pydev.debug.TestPythonAction"/>
-->
		</objectContribution>

		<objectContribution
        adaptable="true"
        objectClass="org.eclipse.core.resources.IFolder"
        nameFilter="*"
        id="org.python.pydev.debug.RunPythonFolder">
			<menu
				label="Python (many)"
				path="additions2"
				id="org.python.pydev.debug.WorkspaceMenu">
				<separator name="group2"/>
			</menu>
			<action
				label="Coverage subset..."
				icon="icons/python.gif"
				tooltip="Make code coverage for many python files at once."
				class="org.python.pydev.debug.ui.actions.PythonRunSubsetActionDelegate"
				menubarPath="org.python.pydev.debug.WorkspaceMenu/group2"
				enablesFor="1"
				id="org.python.pydev.debug.PythonCoverageSubset">
			</action>
			<action
				label="Run subset..."
				icon="icons/python.gif"
				tooltip="Run many python files at once."
				class="org.python.pydev.debug.ui.actions.PythonRunSubsetActionDelegate"
				menubarPath="org.python.pydev.debug.WorkspaceMenu/group2"
				enablesFor="1"
				id="org.python.pydev.debug.PythonRunSubset">
			</action>
		</objectContribution>
	</extension>
<!--- launch groups for python -->
	<extension
		point="org.eclipse.debug.ui.launchGroups">
		<launchGroup
			label="Debug"
			bannerImage="icons/python-big.gif"
			category="org.python.pydev.debug"
			image="icons/python.gif"
			mode="debug"
			id="org.python.pydev.debug.debug">
		</launchGroup>
		<launchGroup
			label="Run"
			bannerImage="icons/python-big.gif"
			category="org.python.pydev.debug"
			image="icons/python.gif"
			mode="run"
			id="org.python.pydev.debug.run">
		</launchGroup>
		<launchGroup
			label="Profile"
			bannerImage="icons/python-big.gif"
			category="org.python.pydev.debug"
			image="icons/python.gif"
			mode="profile"
			id="org.python.pydev.debug.coverage">
		</launchGroup>
	</extension>
<!--- console line tracking -->
	<extension 
		point="org.eclipse.debug.ui.consoleLineTrackers">
		<consoleLineTracker
			class="org.python.pydev.debug.ui.PythonConsoleLineTracker"
			processType="PYDEV.PYTHON"
			id="org.python.pydev.debug.ui.PythonConsoleLineTracker">
		</consoleLineTracker>
	</extension>

<!-- breakpoint ruler action -->
<extension point="org.eclipse.ui.editorActions">
	<editorContribution
		id="org.python.pydev.debug.BreakpointRulerActions"
		targetID="org.python.pydev.editor.PythonEditor">
		<action
			id="org.python.pydev.debug.BreakpointRulerAction"
			actionID="RulerDoubleClick"
			label="Add breakpoint"
			class="org.python.pydev.debug.ui.actions.ManageBreakpointRulerActionDelegate">
		</action>
	</editorContribution>
</extension>

<!-- breakpoint popup menu -->
<extension point="org.eclipse.ui.popupMenus">
	<viewerContribution 
    	id="org.python.pydev.debug.PyEditPopupActions" 
    	targetID="#TextRulerContext">
<!--    	<action
			id="org.python.pydev.actions.JavaBreakpointPropertiesRulerActionDelegate"
			label="Breakpoint properties"
			menubarPath="debug"
			class="org.eclipse.jdt.internal.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate">
		</action>
    	<action
			id="org.eclipse.jdt.ui.actions.EnableDisableBreakpointRulerActionDelegate"
			label="Enable breakpoint"
			menubarPath="debug"
			helpContextId="enable_disable_breakpoint_action_context"
			class="org.eclipse.jdt.internal.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate">
		</action> -->
		<action
			id="org.eclipse.jdt.ui.actions.ManageBreakpointRulerActionDelegate"
			label="Add Breakpoint"
			menubarPath="debug"
			class="org.python.pydev.debug.ui.actions.ManageBreakpointRulerActionDelegate">
		</action>
	</viewerContribution>
</extension>

<!-- breakpoints
	need a marker to mark the breakpoint
	breakpoint associated with marker for BreakpointManager
	marker image provider to provide name for the marker
-->
<!-- org.eclipse.debug.core.breakpointMarker -->		
<extension 
	point="org.eclipse.core.resources.markers"
	id="pyStopBreakpointMarker">
	<super type="org.eclipse.debug.core.lineBreakpointMarker"/>
	<persistent value="true"/>
	<attribute name="org.eclipse.cdt.debug.core.condition"/>
 <super type="org.python.pydev.debug.notexecuted"/>
</extension>
<extension 
	point="org.eclipse.debug.core.breakpoints">
	<breakpoint id="pythonStopBreakpoint"
		markerType="org.python.pydev.debug.pyStopBreakpointMarker"
		class="org.python.pydev.debug.model.PyBreakpoint"
	/>
</extension>
<extension
	point="org.eclipse.ui.ide.markerImageProviders">
	<imageprovider id="pythonBreakPointImage"
		markertype="org.python.pydev.debug.pyStopBreakpointMarker"
		icon="icons/breakmarker.gif"/>
 <imageprovider
       markertype="org.python.pydev.debug.notexecuted"
       icon="icons/reddot.gif"
       id="pyCodeCoverageImageProvider"/>
</extension>
<extension point = "org.eclipse.debug.ui.debugModelPresentations"> 
	<debugModelPresentation
		class = "org.python.pydev.debug.model.PyDebugModelPresentation"
		id = "org.python.pydev.debug">
	</debugModelPresentation>
</extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Pydev"
            id="org.python.pydev.debug"/>
      <view
            class="org.python.pydev.debug.codecoverage.PyCodeCoverageView"
            icon="icons/python.gif"
            category="org.python.pydev"
            name="Code Coverage Results View"
            id="org.python.pydev.views.PyCodeCoverageView"/>
   </extension>

</plugin>

