<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.python.pydev.django_templates.html.editor.DjHTMLEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="false"
            extensions="html,djhtml,htm,djhtm"
            icon="icons/django_templates.png"
            id="org.python.pydev.django_templates.html"
            name="%editor.djhtml.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.html.django_templates">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.python.pydev.django_templates.css.editor.DjCssEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="false"
            extensions="css,djcss"
            icon="icons/django_templates.png"
            id="org.python.pydev.django_templates.css"
            name="%editor.djcss.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.css.django_templates">
         </contentTypeBinding>
      </editor>

   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="com.aptana.contenttype.html"
            describer="org.python.pydev.django_templates.html.editor.DjHTMLContentDescriber"
            file-extensions="djhtml,djhtm"
            id="com.aptana.contenttype.html.django_templates"
            name="%content-type.djhtml.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="com.aptana.contenttype.css"
            file-extensions="djcss"
            id="com.aptana.contenttype.css.django_templates"
            name="%content-type.djcss.name"
            priority="normal">
      </content-type>

   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="org.python.pydev.django_templates.html.parsing.DjHTMLParser"
            content-type="com.aptana.contenttype.html.django_templates">
      </parser>
      <parser
            class="org.python.pydev.django_templates.css.parsing.DjCssParser"
            content-type="com.aptana.contenttype.css.django_templates">
      </parser>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page
            name="Django Templates Editor"
            class="org.python.pydev.django_templates.preferences.DjangoTemplatesPreferencesPageRoot"
            category="org.python.pydev.prefs"
            id="org.python.pydev.django_templates">
      </page>
      <page
            name="Templates"
            class="org.python.pydev.django_templates.completions.templates.DjTemplatePreferencesPage"
            category="org.python.pydev.django_templates"
            id="org.python.pydev.django_templates.templates"/>

   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.python.pydev.django_templates.completions.templates.DjContextType"
            id="org.python.pydev.django_templates.templatesContext"
            name="Django full tags">
      </contextType>
      <include file="templates/default-templates.xml"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.python.pydev.django_templates.completions.templates.DjContextType"
            id="org.python.pydev.django_templates.tagsTemplatesContext"
            name="Django tags">
      </contextType>
      <include file="templates/default-templates-tags.xml"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.python.pydev.django_templates.completions.templates.DjContextType"
            id="org.python.pydev.django_templates.filtersTemplatesContext"
            name="Django filters">
      </contextType>
      <include file="templates/default-templates-filters.xml"/>
   </extension>
   
</plugin>
