<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.python.pydev.analysis.ui.AnalysisPreferencesPage"
            category="org.python.pydev.prefs"
            id="org.python.pydev.prefs.extensions.analysis"
            name="Code Analysis"/>
   </extension>

	<extension
       id="pydev_analysis_problemmarker"
       name="PyDev Problem"
       point="org.eclipse.core.resources.markers">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <persistent value="true"/>
	</extension>

   <extension point="org.python.pydev.pydev_builder">
   		<builder_participant class="com.python.pydev.analysis.builder.AnalysisBuilderVisitor">
   		</builder_participant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.python.pydev.analysis.AnalysisPreferenceInitializer"/>
   </extension>

</plugin>
