body {
	font-family: "Times New Roman", Times, serif;
	font-size: medium;
	background-color: #FFFFE7;
}
p {  line-height: normal; margin-top: 6px; margin-right: 0px; margin-bottom: 2px; margin-left: 0px}
a {  color: #003399}
form {  margin-top: 0px; margin-right: 0px; margin-bottom: 4px; margin-left: 0px}
h1 {  margin-bottom: 6px}
h3 {  margin-top: 10px; margin-bottom: 4px}
h2 {  margin-top: 10px; margin-bottom: 4px}
.shadeofgray {  color: #CCCCCC}
fieldset {
	border: black 1pt solid;
	padding-left : 1em;
	padding-bottom : 4px;
	border-color : #CCCCCC;
}
legend {
	border: black 1pt solid;
	padding-left: 1em;
	padding-right: 1em;
	background-color: Blue;
	color : White;
	font-weight : bold;
	font-family : Arial, Helvetica, sans-serif;
}
