<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.python.pydev.ui.MainExtensionsPreferencesPage"
            category="org.python.pydev.prefs"
            id="org.python.pydev.prefs.extensions"
            name="PyDev Extensions"/>
   </extension>
   
</plugin>
