<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.python.pydev.ui.MainExtensionsPreferencesPage"
            category="org.python.pydev.prefs"
            id="org.python.pydev.prefs.extensions"
            name="PyDev Extensions"/>
   </extension>

   <extension point="org.python.pydev.pydev_quick_outline">
   		<quick_outline class="com.python.pydev.actions.PyShowOutline"/>
   </extension>
   
<!-- Have an instance observing all the PyEdit editors -->
   <extension point="org.python.pydev.pydev_pyedit_listener">
  		<pyedit_listener_participant class="com.python.pydev.interactiveconsole.EvaluateActionSetter"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="com.python.pydev.interactiveconsole.InteractiveConsolePreferencesPage"
            category="org.python.pydev.prefs.extensions"
            id="com.python.pydev.interactiveconsole.InteractiveConsolePreferencesPage"
            name="Interactive Console"/>
   </extension>
<!-- Initialize our preferences -->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.python.pydev.PydevExtensionInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.commands">
<!-- command: activate interactive console-->
      <command
            description="Activates the interactive console."
            id="org.python.pydev.interactiveconsole.evaluateActionSetter"
            categoryId="org.python.pydev.ui.category.source"
            name="Interactive Console">
      </command>
   </extension>
   <extension point="org.eclipse.ui.bindings">
<!-- binding: activate interactive console-->
      <key
            sequence="Ctrl+Enter"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.interactiveconsole.evaluateActionSetter"	
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>


</plugin>
