<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension
       id="pydev_analysis_problemmarker"
       name="PyDev Problem"
       point="org.eclipse.core.resources.markers">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <persistent value="true"/>
	</extension>


   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="com.python.pydev.analysis.AnalysisPreferenceInitializer"/>
   </extension>


   <extension point="org.python.pydev.pydev_interpreter_info_builder">
  		<interpreter_info_builder_participant class="com.python.pydev.analysis.system_info_builder.InterpreterInfoBuilder"/>
   </extension>

   <extension point="org.python.pydev.pydev_interpreter_observer">
  		<interpreter_observer class="com.python.pydev.analysis.additionalinfo.builders.InterpreterObserver"/>
   </extension>




<extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension targetID="org.python.pydev.ui.PythonPerspective">
        <actionSet id="com.python.pydev.navigate.actionSet"/>
    </perspectiveExtension>
    <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
        <actionSet id="com.python.pydev.navigate.actionSet"/>
    </perspectiveExtension>
</extension>

<extension point="org.eclipse.ui.commands">
      <command
            name="Python Show Global Tokens (Global)"
            description="Python Show Global Tokens (Global)"
            categoryId="org.python.pydev.ui.category.source"
            id="com.python.pydev.analysis.actions.pyGlobalsBrowserWorkbench">
      </command>
</extension>

<extension point="org.eclipse.ui.contexts">
      <context
            description="PyDev view (PyUnit, PyOutline, etc)."
            id="com.python.pydev.contexts.window"
            name="PyDev view"
            parentId="org.eclipse.ui.contexts.window">
      </context>
</extension>

<extension point="org.eclipse.ui.bindings">
      <key
            sequence="M1+M2+T"
            contextId="com.python.pydev.contexts.window"
            commandId="com.python.pydev.analysis.actions.pyGlobalsBrowserWorkbench"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
</extension>



   <extension point="org.python.pydev.pydev_completion">
  		<completion_participant class="com.python.pydev.codecompletion.participant.ImportsCompletionParticipant"/>
   </extension>

   <extension point="org.python.pydev.pydev_completion">
  		<completion_participant class="com.python.pydev.codecompletion.ctxinsensitive.CtxParticipant"/>
   </extension>

   <extension point="org.python.pydev.pydev_simpleassist">
  		<simpleassist_participant class="com.python.pydev.codecompletion.simpleassist.KeywordsSimpleAssist"/>
   </extension>

   <extension point="org.python.pydev.pydev_refactoring">
  		<refactoring_participant class="com.python.pydev.analysis.refactoring.refactorer.Refactorer"/>
   </extension>


</plugin>
