<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.python.pydev.pydev_quick_outline">
   		<quick_outline_participant class="com.python.pydev.actions.PyShowOutline"/>
   </extension>
   
<!-- Have an instance observing all the PyEdit editors -->
   <extension point="org.python.pydev.pydev_pyedit_listener">
  		<pyedit_listener_participant class="com.python.pydev.interactiveconsole.EvaluateActionSetter"/>
   </extension>
   

<!-- Initialize our preferences -->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.python.pydev.PydevExtensionInitializer"/>
   </extension>

<!-- command: activate interactive console-->
   <extension point="org.eclipse.ui.commands">
      <command
            description="Activates the interactive console."
            id="org.python.pydev.interactiveconsole.evaluateActionSetter"
            categoryId="org.python.pydev.ui.category.source"
            name="Interactive Console">
      </command>
   </extension>
<!-- binding: activate interactive console-->
   <extension point="org.eclipse.ui.bindings">
      <key
            sequence="M1+M3+Enter"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.interactiveconsole.evaluateActionSetter"	
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
<!-- command: hierarchy view (F4)-->
   <extension point="org.eclipse.ui.commands">
      <command
            description="Show the class hierarchy for a python class"
            id="com.python.pydev.actions.pyShowHierarchy"
            categoryId="org.python.pydev.ui.category.source"
            name="Show Python Class Hierarchy">
      </command>
   </extension>
<!-- binding: hierarchy view (F4)-->
   <extension point="org.eclipse.ui.bindings">
      <key
            sequence="F4"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="com.python.pydev.actions.pyShowHierarchy"	
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
<!-- action: hierarchy view (F4)-->
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.python.pydev.editor.PythonEditor"
            id="org.python.pydev.editor.editorContribution">
         <action
               definitionId="com.python.pydev.actions.pyShowHierarchy"
               label="Show Python Class Hierarchy"
               class="com.python.pydev.actions.PyShowHierarchy"
               id="com.python.pydev.actions.pyShowHierarchy">
         </action>
      </editorContribution>
   </extension>


<!-- view: hierarchy view-->
<extension point="org.eclipse.ui.views">
   <view
        class="com.python.pydev.ui.hierarchy.PyHierarchyView"
        icon="icons/class_hi.gif"
        category="org.python.pydev"
        name="Hierarchy View"
        id="com.python.pydev.ui.hierarchy.PyHierarchyView"/>
</extension>
<!-- occurrences annotation-->
<extension point="org.eclipse.ui.editors.annotationTypes">
	<type name="com.python.pydev.occurrences"/>
</extension>

<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
	  <specification
            annotationType="com.python.pydev.occurrences"
            label="Occurrences (PyDev)"
            icon="icons/searchm_obj.gif"
            textPreferenceKey="pydevOccurrenceIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="pydevOccurrenceIndicationTextStyle"
            textStylePreferenceValue="NONE"
            highlightPreferenceKey="pydevOccurrenceHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="pydevOccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="pydevOccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="pydevOccurrenceIndicationColor"
            colorPreferenceValue="255,255,150"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="pydevShowOccurrenceInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="pydevIsOccurrenceGoToNextNavigationTarget"
	        isGoToNextNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="pydevIsOccurrenceGoToPreviousNavigationTarget"
	        isGoToPreviousNavigationTarget="true">
	  </specification>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      <toolbar
            id="com.python.pydev.toolbars.evaluateActionSetterToolbar">
         <command
               commandId="org.python.pydev.interactiveconsole.evaluateActionSetter"
               icon="icons/python_16x16.png">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.python.pydev.editor.PythonEditor.activeEditor">
               </reference>
            </visibleWhen>
         </command>
      </toolbar>
   </menuContribution>
</extension>

</plugin>
