/*
 * Created on 29/07/2005
 *
 * Create a file TestDependent.java with the contents in this file and substitute the
 * values as needed...
 */
package org.python.pydev.editor.codecompletion.revisited;

public class TestDependent {

    //NOTE: this should be gotten from some variable to point to the python lib (less system dependence, but still, some).
    public static String PYTHON_EXE="C:/bin/Python24/python.exe";
    public static final String PYTHON_INSTALL="C:/bin/Python24/";
    public static final String PYTHON_LIB="C:/bin/Python24/Lib/";
    public static final String PYTHON_SITE_PACKAGES="C:/bin/Python24/Lib/site-packages/";
    
    //NOTE: this should set to the tests pysrc location, so that it can be added to the pythonpath.
    public static final String TEST_PYSRC_LOC="D:/eclipse_workspace/org.python.pydev/tests/pysrc/";

    //"C:\Program Files\Java\jdk1.5.0_04\bin\java.exe" "-Dpython.home=C:\bin\jython21" 
    //-classpath "C:\bin\jython21\jython.jar;%CLASSPATH%" org.python.util.jython %ARGS%
    public static final String JAVA_LOCATION="C:/Program Files/Java/jdk1.5.0_04/bin/java.exe";
    public static final String JYTHON_JAR_LOCATION="C:/bin/jython21/jython.jar";
    public static final String JYTHON_HOME_LOCATION="C:/bin/jython21";
    public static final String JYTHON_JYTHON_PATH= "C:/bin/jython21/Lib";

}
