<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="pydev_builder" name="Pydev Builder" schema="schema/pydev_builder.exsd"/>

<!-- Python editor -->
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.python.pydev.editor.PyEdit"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="py,pyw"
            icon="icons/python.gif"
            id="org.python.pydev.editor.PythonEditor"
            name="Python Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.python.pydev.editor.PyDocumentProvider"
            id="org.eclipse.ui.editors.text.StorageDocumentProvider"
            inputTypes="org.eclipse.ui.IStorageEditorInput"/>
   </extension>
   <extension
         id="PyDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.python.pydev.editor.PyDocumentSetupParticipant"
            extensions="py,pyw"/>
   </extension>
<!-- Python nature -->
   <extension
         id="pythonNature"
         name="Python Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.python.pydev.plugin.nature.PythonNature">
         </run>
      </runtime>
      <builder id="org.python.pydev.builder"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/pythonNature.gif"
            natureId="org.python.pydev.pythonNature"
            id="org.python.pydev.ui.projectNatureImage">
      </image>
   </extension>
<!-- Python project properties -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="PyDev - PYTHONPATH"
            class="org.python.pydev.ui.PyProjectProperties"
            id="org.python.pydev.ui.pyProjectProperties">
         <filter
               name="projectNature"
               value="org.python.pydev.pythonNature">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="PyDev - project type"
            class="org.python.pydev.ui.PyProjectPythonDetails"
            id="org.python.pydev.ui.pyProjectPythonDetails">
         <filter
               name="projectNature"
               value="org.python.pydev.pythonNature">
         </filter>
      </page>
   </extension>
<!-- Preference page -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Pydev"
            class="org.python.pydev.plugin.PydevPrefs"
            id="org.python.pydev.prefs">
      </page>
      <page
            name="Python Interpreters"
            category="org.python.pydev.prefs"
            class="org.python.pydev.ui.pythonpathconf.InterpreterPreferencesPage"
            id="org.python.pydev.ui.pythonpathconf.interpreterPreferencesPage">
      </page>
      <page
            name="Jython Interpreters"
            category="org.python.pydev.prefs"
            class="org.python.pydev.ui.pythonpathconf.JythonInterpreterPreferencesPage"
            id="org.python.pydev.ui.pythonpathconf.jythonInterpreterPreferencesPage">
      </page>
      <page
            name="Debug"
            category="org.python.pydev.prefs"
            class="org.python.pydev.plugin.DebugPrefsPage"
            id="org.python.pydev.prefs.debugPage">
      </page>
      <page
            name="Code Formatter"
            category="org.python.pydev.prefs"
            class="org.python.pydev.plugin.PyCodeFormatterPage"
            id="org.python.pydev.plugin.pyCodeFormatterPage">
      </page>
      <page
            name="Code Completion"
            class="org.python.pydev.editor.codecompletion.PyCodeCompletionPreferencesPage"
            category="org.python.pydev.prefs"
            id="org.python.pydev.prefs.PyCodeCompletionPage"/>
      <page
            name="Templates"
            class="org.python.pydev.editor.templates.PyTemplatePreferencesPage"
            category="org.python.pydev.prefs"
            id="org.python.pydev.prefs.template"/>
<!--
      <page
            class="org.python.pydev.builder.pychecker.PyCheckerPrefPage"
            category="org.python.pydev.prefs"
            name="Pychecker"
            id="org.python.pydev.prefs.pychecker"/>
-->
      <page
            class="org.python.pydev.builder.pylint.PyLintPrefPage"
            category="org.python.pydev.prefs"
            name="Pylint"
            id="org.python.pydev.prefs.pylint"/>
      <page
            class="org.python.pydev.builder.todo.PyTodoPrefPage"
            category="org.python.pydev.prefs"
            name="Task Tags"
            id="org.python.pydev.prefs.pytodo"/>
      <page
            name="Builders"
            category="org.python.pydev.prefs"
            class="org.python.pydev.builder.PyDevBuilderPrefPage"
            id="org.python.pydev.builder.pyDevBuilderPrefPage">
      </page>
   </extension>
<!-- Editor menus -->
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.python.pydev.editor.PythonEditor"
            id="org.python.pydev.editor.editorContribution">
         <menu
               label="Source"
               path="edit"
               id="org.python.pydev.editor.actions.sourceMenu">
            <separator
                  name="editGroup">
            </separator>
            <separator
                  name="addGroup">
            </separator>
            <separator
            	  name="whitespaceGroup">
            </separator>
         </menu>
         <action
               definitionId="org.python.pydev.editor.actions.firstChar"
               label="Goto first char"
               class="org.python.pydev.editor.actions.FirstCharAction"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/editGroup"
               id="org.python.pydev.editor.actions.firstChar">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.pybackspace"
               label="Python Backspace (considers indentation)"
               class="org.python.pydev.editor.actions.PyBackspace"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/editGroup"
               id="org.python.pydev.editor.actions.pybackspace">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.convertSpaceToTab"
               label="Convert space-tabs to tabs"
               class="org.python.pydev.editor.actions.PyConvertSpaceToTab"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/whitespaceGroup"
               id="org.python.pydev.editor.actions.convertSpaceToTab">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.convertTabToSpace"
               label="Convert tabs to space-tabs"
               class="org.python.pydev.editor.actions.PyConvertTabToSpace"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/whitespaceGroup"
               id="org.python.pydev.editor.actions.convertTabToSpace">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.uncomment"
               label="Uncomment"
               class="org.python.pydev.editor.actions.PyUncomment"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/editGroup"
               id="org.python.pydev.editor.actions.uncomment">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.comment"
               label="Comment"
               class="org.python.pydev.editor.actions.PyComment"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/editGroup"
               id="org.python.pydev.editor.actions.comment">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.removeBlockComment"
               label="Remove comment block"
               class="org.python.pydev.editor.actions.PyRemoveBlockComment"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.removeBlockComment">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.addBlockComment"
               label="Add comment block"
               class="org.python.pydev.editor.actions.PyAddBlockComment"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.addBlockComment">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.addSingleBlockComment"
               label="Add single comment block"
               class="org.python.pydev.editor.actions.PyAddSingleBlockComment"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.addSingleBlockComment">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.nextMethod"
               label="Goto next method or class"
               class="org.python.pydev.editor.actions.PyNextMethod"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.nextMethod">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.previousMethod"
               label="Goto previous method or class"
               class="org.python.pydev.editor.actions.PyPreviousMethod"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.previousMethod">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.pyGoToDefinition"
               label="Go to Definition"
               class="org.python.pydev.editor.actions.PyGoToDefinition"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyGoToDefinition">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.pyCollapse"
               label="Collapse code"
               class="org.python.pydev.editor.actions.codefolding.PyCollapse"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyCollapse">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.pyUnCollapse"
               label="Un Collapse code"
               class="org.python.pydev.editor.actions.codefolding.PyUnCollapse"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyUnCollapse">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.pyCollapseAll"
               label="Collapse code (All)"
               class="org.python.pydev.editor.actions.codefolding.PyCollapseAll"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyCollapseAll">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.pyUnCollapseAll"
               label="Un Collapse code (All)"
               class="org.python.pydev.editor.actions.codefolding.PyUnCollapseAll"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyUnCollapseAll">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.pyShowOutline"
               label="Show Quick Outline"
               class="org.python.pydev.editor.actions.PyShowOutline"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyShowOutline">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.pyOrganizeImports"
               label="Organize Imports"
               class="org.python.pydev.editor.actions.PyOrganizeImports"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyOrganizeImports">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.pyFormatStd"
               label="Format Code"
               class="org.python.pydev.editor.actions.PyFormatStd"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyFormatStd">
         </action>

		<!-- This is for the refactoring having the existing action (definition) -->
         <action
               definitionId="org.python.pydev.refactoring.extractmethod"
               label="Extract Method"
               class="org.python.pydev.editor.actions.refactoring.PyExtractMethod"
               id="org.python.pydev.refactoring.extractmethod">
         </action>
         <action
               definitionId="org.python.pydev.refactoring.extractlocalbariable"
               label="Extract Local Variable"
               class="org.python.pydev.editor.actions.refactoring.PyExtractLocalVariable"
               id="org.python.pydev.refactoring.extractlocalbariable">
         </action>
         <action
               definitionId="org.python.pydev.refactoring.inlinelocalbariable"
               label="Inline Local Variable"
               class="org.python.pydev.editor.actions.refactoring.PyInlineLocalVariable"
               id="org.python.pydev.refactoring.inlinelocalbariable">
         </action>
         <action
               definitionId="org.python.pydev.refactoring.rename"
               label="Rename"
               class="org.python.pydev.editor.actions.refactoring.PyRename"
               id="org.python.pydev.refactoring.rename">
         </action>

      </editorContribution>
   </extension>
<!-- NOTE: EditorContext part of the targetID was deduced, that is just what Eclipse expects -->
<!-- Editor popup menus-->
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="org.python.pydev.editor.PythonEditor.EditorContext"
            id="org.python.pydev.editor.popup">
         <menu
               label="Source"
               id="org.python.pydev.editor.actions.editorPopup">
            <separator
                  name="editGroup">
            </separator>
            <separator
                  name="addGroup">
            </separator>
            <separator
            	  name="whitespaceGroup">
            </separator>
         </menu>
         <menu
               label="Refactoring"
               id="org.python.pydev.refactoring">
            <separator name="refactorings"/>
         </menu>
         <!--This is for making the refactor action accessible in the editor pop-up -->
         <action
               label="Extract Method"
               class="org.python.pydev.editor.actions.refactoring.PyExtractMethod"
               menubarPath="org.python.pydev.refactoring/refactorings"
               id="org.python.pydev.refactoring.extractmethod">
         </action>
         <action
               label="Rename"
               class="org.python.pydev.editor.actions.refactoring.PyRename"
               menubarPath="org.python.pydev.refactoring/refactorings"
               id="org.python.pydev.refactoring.rename">
         </action>
         <action
               label="Inline Local Variable"
               class="org.python.pydev.editor.actions.refactoring.PyInlineLocalVariable"
               menubarPath="org.python.pydev.refactoring/refactorings"
               id="org.python.pydev.refactoring.inlinelocalvariable">
         </action>
         <action
               label="Extract Local Variable"
               class="org.python.pydev.editor.actions.refactoring.PyExtractLocalVariable"
               menubarPath="org.python.pydev.refactoring/refactorings"
               id="org.python.pydev.refactoring.extractlocalvariable">
         </action>
         <action
               label="Convert space-tabs to tabs"
               class="org.python.pydev.editor.actions.PyConvertSpaceToTab"
               menubarPath="org.python.pydev.editor.actions.editorPopup/whitespaceGroup"
               id="org.python.pydev.editor.actions.convertSpaceToTab">
         </action>
         <action
               label="Convert tabs to space-tabs"
               class="org.python.pydev.editor.actions.PyConvertTabToSpace"
               menubarPath="org.python.pydev.editor.actions.editorPopup/whitespaceGroup"
               id="org.python.pydev.editor.actions.convertTabToSpace">
         </action>
         <action
               label="Uncomment"
               class="org.python.pydev.editor.actions.PyUncomment"
               menubarPath="org.python.pydev.editor.actions.editorPopup/editGroup"
               id="org.python.pydev.editor.actions.uncomment">
         </action>
         <action
               label="Comment"
               class="org.python.pydev.editor.actions.PyComment"
               menubarPath="org.python.pydev.editor.actions.editorPopup/editGroup"
               id="org.python.pydev.editor.actions.comment">
         </action>
         <action
               label="Remove comment block"
               class="org.python.pydev.editor.actions.PyRemoveBlockComment"
               menubarPath="org.python.pydev.editor.actions.editorPopup/addGroup"
               id="org.python.pydev.editor.actions.removeBlockComment">
         </action>
         <action
               label="Add comment block"
               class="org.python.pydev.editor.actions.PyAddBlockComment"
               menubarPath="org.python.pydev.editor.actions.editorPopup/addGroup"
               id="org.python.pydev.editor.actions.addBlockComment">
         </action>
         <action
               label="Add single comment block"
               class="org.python.pydev.editor.actions.PyAddSingleBlockComment"
               menubarPath="org.python.pydev.editor.actions.editorPopup/addGroup"
               id="org.python.pydev.editor.actions.addSingleBlockComment">
         </action>
         <action
               label="Navigate to next method / class"
               class="org.python.pydev.editor.actions.PyNextMethod"
               menubarPath="org.python.pydev.editor.actions.editorPopup/addGroup"
               id="org.python.pydev.editor.actions.navigation.nextMethod">
         </action>
         <action
               label="Navigate to previous method / class"
               class="org.python.pydev.editor.actions.PyPreviousMethod"
               menubarPath="org.python.pydev.editor.actions.editorPopup/addGroup"
               id="org.python.pydev.editor.actions.navigation.previousMethod">
         </action>
      </viewerContribution>
    </extension>
<!-- Commands -->
	<!-- Editor Context (formerly scope) -->
    <extension point="org.eclipse.ui.contexts">
      <context
            name="Pydev editor scope"
            parentId="org.eclipse.ui.textEditorScope"
            description="Pydev commands"
            id="org.python.pydev.ui.editor.scope">
      </context>
    </extension>

<!-- associates commands with keyboard shortcuts -->
<!-- Commands -->    
    <extension point="org.eclipse.ui.commands">

<!--category: Editor Commands-->
      <category
            name="Pydev - Editor"
            description="Pydev editor category"
            id="org.python.pydev.ui.category.source">
      </category>
<!--category: Refactor-->
      <category
            name="Pydev - Refactor"
            description="Python refactor category"
            id="org.python.pydev.ui.category.refactoring"> 
      </category>
    
<!-- command: goto first char-->
      <command
            description="Goes to the first non space char or first char of the line depending on the cursor position."
            id="org.python.pydev.editor.actions.firstChar"
            categoryId="org.python.pydev.ui.category.source"
            name="First char">
      </command>
<!-- command: backspace considering indentation-->
      <command
            description="Backspace considering indentation for Python."
            id="org.python.pydev.editor.actions.pybackspace"
            categoryId="org.python.pydev.ui.category.source"
            name="Python Backspace (with indentation)">
      </command>

<!-- command: next method / class-->
      <command
            name="Next Method or Class"
            description="Navigates to the next method or class declaration"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.nextMethod">
      </command>
<!-- command: previous method / class-->
      <command
            name="Previous Method or Class"
            description="Navigates to the previous method or class declaration"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.previousMethod">
      </command>
<!-- command: space to tab-->
      <command
            name="Convert space-tabs to tabs"
            description="Converts tab-width space groups to tabs from selected region or whole document if nothing selected"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.convertSpaceToTab">
      </command>
<!-- command: tab to space-->
      <command
            name="Convert tabs to space-tabs"
            description="Converts tabs to tab-width space groups from selected region or whole document if nothing selected"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.convertTabToSpace">
      </command>
<!-- command: unblock-->
      <command
            name="Remove Comment Block"
            description="Removes a python comment block"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.removeBlockComment">
      </command>
<!-- command: block-->
      <command
            name="Add Comment Block"
            description="Creates a python comment block"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.addBlockComment">
      </command>
<!-- command: block-->
      <command
            name="Add Single Comment Block"
            description="Creates a comment block from a single line"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.addSingleBlockComment">
      </command>
<!-- command: uncomment-->
      <command
            name="Python Uncomment"
            description="Uncomments a python line (Removes # from the beggining of the line)"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.uncomment">
      </command>
<!-- command: comment-->
      <command
            name="Python Comment"
            description="Comments a python line (Adds # to beggining of the line)"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.comment">
      </command>
<!-- command: Go To Defition-->
      <command
            name="Python Go To Declaration"
            description="Goes to the declaration of a python element"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.pyGoToDefinition">
      </command>
<!-- command: Collapse-->
      <command
            name="Python Collapse"
            description="Collapse block of code"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.pyCollapse">
      </command>
<!-- command: Un Collapse-->
      <command
            name="Python Un Collapse"
            description="Un Collapse block of code"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.pyUnCollapse">
      </command>
<!-- command: Collapse All-->
      <command
            name="Python Collapse All"
            description="Collapse all blocks of code"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.pyCollapseAll">
      </command>
<!-- command: Un Collapse-->
      <command
            name="Python Un Collapse All"
            description="Un Collapse all blocks of code"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.pyUnCollapseAll">
      </command>
<!-- command: Show outline-->
      <command
            name="Python Show Outline"
            description="Show Outline"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.pyShowOutline">
      </command>
<!-- command: Organize Imports-->
      <command
            name="Python Organize Imports"
            description="Organize Imports"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.pyOrganizeImports">
      </command>
<!-- command: Format code-->
      <command
            name="Python Format Code"
            description="Format Code"
            categoryId="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.pyFormatStd">
      </command>
      <!-- This is for making a keybinding for it-->
      <!-- Extract Method -->
      <command
            name="Python Extract Method"
            description="Extract Method"
            categoryId="org.python.pydev.ui.category.refactoring"
            id="org.python.pydev.refactoring.extractmethod"/>
      <!-- Extract Local Variable -->
      <command
            name="Python Extract Local Variable"
            description="Extract Local Variable"
            categoryId="org.python.pydev.ui.category.refactoring"
            id="org.python.pydev.refactoring.extractlocalbariable"/>
      <!-- Inline Local Variable -->
      <command
            name="Python Inline Local Variable"
            description="Inline Local Variable"
            categoryId="org.python.pydev.ui.category.refactoring"
            id="org.python.pydev.refactoring.inlinelocalbariable"/>
      <!-- Rename -->
      <command
            name="Python Rename"
            description="Rename"
            categoryId="org.python.pydev.ui.category.refactoring"
            id="org.python.pydev.refactoring.rename"/>
   </extension>
            
   <extension point="org.eclipse.ui.bindings">
      <key
            sequence="HOME"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.firstChar"	
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <!--TODO: guessing at name "BACKSPACE, needs verification -->
      <key
            sequence="BACKSPACE"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.pybackspace"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+Shift+Arrow_Up"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.navigation.previousMethod"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Shift+Ctrl+Tab"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.convertSpaceToTab"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+Tab"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.convertTabToSpace"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+5"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.removeBlockComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+4"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.addBlockComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+Shift+4"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.addSingleBlockComment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+\"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.uncomment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+Shift+3"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.uncomment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+Shift+Arrow_Down"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.navigation.nextMethod"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+/"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.comment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+3"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.comment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="F3"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.navigation.pyGoToDefinition"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+-"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.navigation.pyCollapse"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+="
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.navigation.pyUnCollapse"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+9"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.navigation.pyCollapseAll"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+0"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.navigation.pyUnCollapseAll"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+O"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.pyShowOutline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+Shift+O"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.pyOrganizeImports"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Ctrl+Shift+F"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.editor.actions.pyFormatStd"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Shift+Alt+M"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.refactoring.extractmethod"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Shift+Alt+L"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.refactoring.extractlocalbariable"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Shift+Alt+I"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.refactoring.inlinelocalbariable"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            sequence="Shift+Alt+R"
            contextId="org.python.pydev.ui.editor.scope"
            commandId="org.python.pydev.refactoring.rename"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>



<!-- file type extensions for the team (CVS) -->
   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes type="text" extension="py"/>
      <fileTypes type="text" extension="pyw"/>
   </extension>
   <extension point="org.eclipse.team.core.ignore">
      <ignore enabled="true" pattern="*.pyc"/>
      <ignore enabled="true" pattern="*.pyo"/>
   </extension>
<!-- filter out .pyc files in the navigation view -->
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter selected="True" pattern="*.pyc"/>
      <filter selected="True" pattern="*.pyo"/>
   </extension>
<!-- templates -->
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.python.pydev.editor.templates.PyContextType"
            id="org.python.pydev.editor.templates.python"/>
      <template
            name="main"
            icon="icons/template.gif"
            description="main function pattern. Season to taste"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.main">
<pattern>
if __name__ == '__main__':
    ${cursor}${Run)()
</pattern>
      </template>
      <template
            name="pd"
            icon="icons/template.gif"
            description="pdb"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.pdb">
         <pattern>import pdb;pdb.set_trace()</pattern>
      </template>
      <template
            name="stdout"
            icon="icons/template.gif"
            description="Prints to sys.stdout"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.stdout">
         <pattern>print >> sys.stdout, ${cursor}${data}</pattern>
      </template>
      <template
            name="stderr"
            icon="icons/template.gif"
            description="Prints to sys.stderr"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.stderr">
         <pattern>print >> sys.stderr, ${cursor}${data}</pattern>
      </template>
      <template
            name="eq"
            icon="icons/template.gif"
            description="equals and not equals"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.eq">
<pattern>
def __eq__(self,o):
    if isintance(o, self.__class__):
        pass
        #TODO:class checking

    return False

def __ne__(self,o):
	return not self == o
</pattern>

      </template>

      <template
            name="iff"
            icon="icons/template.gif"
            description="Normal 'if' test"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.iff">
         <pattern>
if ${cursor}${condition}: True
         </pattern>
      </template>
           <template
            name="def"
            icon="icons/template.gif"
            description="global method definition"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.def">
         <pattern>
def ${cursor}${method}(): True
         </pattern>
      </template>
      <template
            name="debugger"
            icon="icons/template.gif"
            description="Creates an in-module debugger"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.debug">
<pattern>
import sys
debugToggle = 1
def debug(*values):
    if debugToggle == 0: return
    print >> sys.stderr, "DBG>", 
    for v in values: print >> sys.stderr,  v,
    print >> sys.stderr, '.'
${cursor}
</pattern>
      </template>
      <template
            name="dbg"
            icon="icons/template.gif"
            description="print a debug line.(use the debugger macro to define an in-module global debug method first!)"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.dbg">
         <pattern>debug('==>', ${cursor}${data})</pattern>
      </template>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Pydev"
            id="org.python.pydev"/>
      <view
            class="org.python.pydev.views.PyRefactorView"
            icon="icons/sample.gif"
            category="org.python.pydev"
            name="Refactor Results View"
            id="org.python.pydev.views.PyRefactorView"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               id="org.python.pydev.views.PyRefactorView"/>
      </perspectiveExtension>
    </extension>
    <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.python.pydev.editor.correctionassist.PyQuickFix"
            markerType="org.eclipse.core.resources.problemmarker"/>
    </extension>
    <extension
         id="PyDevBuilder"
         name="Pydev Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.python.pydev.builder.PyDevBuilder"/>
      </builder>
    </extension>
   
	<extension 
		point="org.eclipse.core.resources.markers"
        name="PyLint Problem"
		id="pylintproblemmarker">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <persistent value="true"/>
	</extension>
	
	
	
	
</plugin>
