<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.python.pydev"
   name="Pydev - Python Development Environment"
   version="0.5.9.5a"
   provider-name="AleksTotic"
   class="org.python.pydev.plugin.PydevPlugin">

   <runtime>
      <library name="pydev.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.jface.text"/>
   </requires>


<!-- Python editor -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Python Editor"
            icon="icons/python.gif"
            extensions="py"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            class="org.python.pydev.editor.PyEdit"
            id="org.python.pydev.editor.PythonEditor">
      </editor>
   </extension>
<!-- Python nature -->
   <extension
         id="pythonNature"
         name="Python Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.python.pydev.plugin.PythonNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/pythonNature.gif"
            natureId="org.python.pydev.pythonNature"
            id="org.python.pydev.ui.projectNatureImage">
      </image>
   </extension>
<!-- Python project properties -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="Python"
            class="org.python.pydev.ui.ProjectProperties"
            id="org.python.pydev.ui.projectProperties">
         <filter
               name="projectNature"
               value="org.python.pydev.pythonNature">
         </filter>
      </page>
   </extension>
<!-- Preference page -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Pydev"
            class="org.python.pydev.plugin.PydevPrefs"
            id="org.python.pydev.prefs">
      </page>
      <page
            name="Debug"
            category="org.python.pydev.prefs"
            class="org.python.pydev.plugin.DebugPrefsPage"
            id="org.python.pydev.prefs.debugPage">
      </page>
      <page
            class="org.python.pydev.editor.templates.PyTemplatePreferencesPage"
            category="org.python.pydev.prefs"
            name="Templates"
            id="org.python.pydev.prefs.template"/>
      <page
            class="org.python.pydev.editor.codecompletion.PyCodeCompletionPreferencesPage"
            category="org.python.pydev.prefs"
            name="Code Completion"
            id="org.python.pydev.prefs.PyCodeCompletionPage"/>
   </extension>
<!-- Editor menus -->
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.python.pydev.editor.PythonEditor"
            id="org.python.pydev.editor.editorContribution">
         <menu
               label="Source"
               path="edit"
               id="org.python.pydev.editor.actions.sourceMenu">
            <separator
                  name="editGroup">
            </separator>
            <separator
                  name="addGroup">
            </separator>
            <separator
            	  name="whitespaceGroup">
            </separator>
         </menu>
         <action
               definitionId="org.python.pydev.editor.actions.firstChar"
               label="Goto first char"
               class="org.python.pydev.editor.actions.FirstCharAction"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/editGroup"
               id="org.python.pydev.editor.actions.firstChar">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.pybackspace"
               label="Python Backspace (considers indentation)"
               class="org.python.pydev.editor.actions.PyBackspace"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/editGroup"
               id="org.python.pydev.editor.actions.pybackspace">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.convertSpaceToTab"
               label="Convert space-tabs to tabs"
               class="org.python.pydev.editor.actions.PyConvertSpaceToTab"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/whitespaceGroup"
               id="org.python.pydev.editor.actions.convertSpaceToTab">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.convertTabToSpace"
               label="Convert tabs to space-tabs"
               class="org.python.pydev.editor.actions.PyConvertTabToSpace"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/whitespaceGroup"
               id="org.python.pydev.editor.actions.convertTabToSpace">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.uncomment"
               label="Uncomment"
               class="org.python.pydev.editor.actions.PyUncomment"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/editGroup"
               id="org.python.pydev.editor.actions.uncomment">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.comment"
               label="Comment"
               class="org.python.pydev.editor.actions.PyComment"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/editGroup"
               id="org.python.pydev.editor.actions.comment">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.removeBlockComment"
               label="Remove comment block"
               class="org.python.pydev.editor.actions.PyRemoveBlockComment"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.removeBlockComment">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.addBlockComment"
               label="Add comment block"
               class="org.python.pydev.editor.actions.PyAddBlockComment"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.addBlockComment">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.pyReloadCodeCompletionModules"
               label="Reload the modules used for code completion"
               class="org.python.pydev.editor.actions.PyReloadCodeCompletionModules"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.pyReloadCodeCompletionModules">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.nextMethod"
               label="Goto next method or class"
               class="org.python.pydev.editor.actions.PyNextMethod"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.nextMethod">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.previousMethod"
               label="Goto previous method or class"
               class="org.python.pydev.editor.actions.PyPreviousMethod"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.previousMethod">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.pyGoToDefinition"
               label="Go to Definition"
               class="org.python.pydev.editor.actions.PyGoToDefinition"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyGoToDefinition">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.pyCollapse"
               label="Collapse code"
               class="org.python.pydev.editor.actions.codefolding.PyCollapse"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyCollapse">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.pyUnCollapse"
               label="Un Collapse code"
               class="org.python.pydev.editor.actions.codefolding.PyUnCollapse"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyUnCollapse">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.pyCollapseAll"
               label="Collapse code (All)"
               class="org.python.pydev.editor.actions.codefolding.PyCollapseAll"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyCollapseAll">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.navigation.pyUnCollapseAll"
               label="Un Collapse code (All)"
               class="org.python.pydev.editor.actions.codefolding.PyUnCollapseAll"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyUnCollapseAll">
         </action>
         <action
               definitionId="org.python.pydev.editor.actions.pyShowOutline"
               label="Show Quick Outline"
               class="org.python.pydev.editor.actions.PyShowOutline"
               menubarPath="org.python.pydev.editor.actions.sourceMenu/addGroup"
               id="org.python.pydev.editor.actions.navigation.pyShowOutline">
         </action>
      </editorContribution>
   </extension>
<!-- NOTE: EditorContext part of the targetID was deduced, that is just what Eclipse expects -->
<!-- Editor popup menus-->
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="org.python.pydev.editor.PythonEditor.EditorContext"
            id="org.python.pydev.editor.popup">
         <menu
               label="Source"
               id="org.python.pydev.editor.actions.editorPopup">
            <separator
                  name="editGroup">
            </separator>
            <separator
                  name="addGroup">
            </separator>
            <separator
            	  name="whitespaceGroup">
            </separator>
         </menu>
         <menu
               label="Refactoring"
               id="org.python.pydev.refactoring">
            <separator name="refactorings"/>
         </menu>
         <action
               label="Extract Method"
               class="org.python.pydev.editor.actions.refactoring.PyExtractMethod"
               menubarPath="org.python.pydev.refactoring/refactorings"
               id="org.python.pydev.refactoring.extractmethod">
         </action>
         <action
               label="Rename"
               class="org.python.pydev.editor.actions.refactoring.PyRename"
               menubarPath="org.python.pydev.refactoring/refactorings"
               id="org.python.pydev.refactoring.rename">
         </action>
         <action
               label="Convert space-tabs to tabs"
               class="org.python.pydev.editor.actions.PyConvertSpaceToTab"
               menubarPath="org.python.pydev.editor.actions.editorPopup/whitespaceGroup"
               id="org.python.pydev.editor.actions.convertSpaceToTab">
         </action>
         <action
               label="Convert tabs to space-tabs"
               class="org.python.pydev.editor.actions.PyConvertTabToSpace"
               menubarPath="org.python.pydev.editor.actions.editorPopup/whitespaceGroup"
               id="org.python.pydev.editor.actions.convertTabToSpace">
         </action>
         <action
               label="Uncomment"
               class="org.python.pydev.editor.actions.PyUncomment"
               menubarPath="org.python.pydev.editor.actions.editorPopup/editGroup"
               id="org.python.pydev.editor.actions.uncomment">
         </action>
         <action
               label="Comment"
               class="org.python.pydev.editor.actions.PyComment"
               menubarPath="org.python.pydev.editor.actions.editorPopup/editGroup"
               id="org.python.pydev.editor.actions.comment">
         </action>
         <action
               label="Remove comment block"
               class="org.python.pydev.editor.actions.PyRemoveBlockComment"
               menubarPath="org.python.pydev.editor.actions.editorPopup/addGroup"
               id="org.python.pydev.editor.actions.removeBlockComment">
         </action>
         <action
               label="Add comment block"
               class="org.python.pydev.editor.actions.PyAddBlockComment"
               menubarPath="org.python.pydev.editor.actions.editorPopup/addGroup"
               id="org.python.pydev.editor.actions.addBlockComment">
         </action>
         <action
               label="Navigate to next method / class"
               class="org.python.pydev.editor.actions.PyNextMethod"
               menubarPath="org.python.pydev.editor.actions.editorPopup/addGroup"
               id="org.python.pydev.editor.actions.navigation.nextMethod">
         </action>
         <action
               label="Navigate to previous method / class"
               class="org.python.pydev.editor.actions.PyPreviousMethod"
               menubarPath="org.python.pydev.editor.actions.editorPopup/addGroup"
               id="org.python.pydev.editor.actions.navigation.previousMethod">
         </action>
      </viewerContribution>
   </extension>
<!-- associates commands with keyboard shortcuts -->
<!-- Commands -->
   <extension
         point="org.eclipse.ui.commands">
      <scope
            name="Pydev editor scope"
            parent="org.eclipse.ui.textEditorScope"
            description="Pydev commands"
            id="org.python.pydev.ui.editor.scope">
      </scope>
      <category
            name="Pydev editor commands"
            description="Pydev editor category"
            id="org.python.pydev.ui.category.source">
      </category>
<!-- command: goto first char-->
      <command
            name="First char"
            description="Goes to the first non space char or first char of the line depending on the cursor position."
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.firstChar">
      </command>
      <keyBinding
            string="Home"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.firstChar"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: backspace considering indentation-->
      <command
            name="Python Backspace (with indentation)"
            description="Backspace considering indentation for Python."
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.pybackspace">
      </command>
      <keyBinding
            string="Backspace"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.pybackspace"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>

<!-- command: next method / class-->
      <command
            name="Next Method or Class"
            description="Navigates to the next method or class declaration"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.nextMethod">
      </command>
      <keyBinding
            string="Ctrl+Shift+Arrow_Down"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.navigation.nextMethod"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: previous method / class-->
      <command
            name="Previous Method or Class"
            description="Navigates to the previous method or class declaration"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.previousMethod">
      </command>
      <keyBinding
            string="Ctrl+Shift+Arrow_Up"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.navigation.previousMethod"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: space to tab-->
      <command
            name="Convert space-tabs to tabs"
            description="Converts tab-width space groups to tabs from selected region or whole document if nothing selected"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.convertSpaceToTab">
      </command>
      <keyBinding
            string="Shift+Ctrl+Tab"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.convertSpaceToTab"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: tab to space-->
      <command
            name="Convert tabs to space-tabs"
            description="Converts tabs to tab-width space groups from selected region or whole document if nothing selected"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.convertTabToSpace">
      </command>
      <keyBinding
            string="Ctrl+Tab"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.convertTabToSpace"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: unblock-->
      <command
            name="Remove Comment Block"
            description="Removes a python comment block"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.removeBlockComment">
      </command>
      <keyBinding
            string="Ctrl+5"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.removeBlockComment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: reload modules -->
      <command
            name="Reload the code completion modules"
            description="Creates a python comment block"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.pyReloadCodeCompletionModules">
      </command>
      <keyBinding
            string="Ctrl+Shift+Space"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.pyReloadCodeCompletionModules"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: block-->
      <command
            name="Add Comment Block"
            description="Creates a python comment block"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.addBlockComment">
      </command>
      <keyBinding
            string="Ctrl+4"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.addBlockComment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: uncomment-->
      <command
            name="Python Uncomment"
            description="Uncomments a python line (Removes # from the beggining of the line)"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.uncomment">
      </command>
      <keyBinding
            string="Ctrl+\"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.uncomment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Ctrl+Shift+3"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.uncomment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: comment-->
      <command
            name="Python Comment"
            description="Comments a python line (Adds # to beggining of the line)"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.comment">
      </command>
      <keyBinding
            string="Ctrl+/"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.comment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            string="Ctrl+3"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.comment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: Go To Defition-->
      <command
            name="Python Go To Declaration"
            description="Goes to the declaration of a python element"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.pyGoToDefinition">
      </command>
      <keyBinding
            string="F3"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.navigation.pyGoToDefinition"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: Collapse-->
      <command
            name="Python Collapse"
            description="Collapse block of code"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.pyCollapse">
      </command>
      <keyBinding
            string="Ctrl+-"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.navigation.pyCollapse"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: Un Collapse-->
      <command
            name="Python Un Collapse"
            description="Un Collapse block of code"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.pyUnCollapse">
      </command>
      <keyBinding
            string="Ctrl+="
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.navigation.pyUnCollapse"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: Collapse All-->
      <command
            name="Python Collapse All"
            description="Collapse all blocks of code"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.pyCollapseAll">
      </command>
      <keyBinding
            string="Ctrl+9"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.navigation.pyCollapseAll"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: Un Collapse-->
      <command
            name="Python Un Collapse All"
            description="Un Collapse all blocks of code"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.navigation.pyUnCollapseAll">
      </command>
      <keyBinding
            string="Ctrl+0"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.navigation.pyUnCollapseAll"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- command: Show outline-->
      <command
            name="Python Show Outline"
            description="Show Outline"
            category="org.python.pydev.ui.category.source"
            id="org.python.pydev.editor.actions.pyShowOutline">
      </command>
      <keyBinding
            string="Ctrl+O"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.editor.actions.pyShowOutline"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>

<!-- category: Refactor
      <category
            name="Refactor category"
            description="Python refactor category"
            id="org.python.pydev.ui.category.refactor"/>
 command: Extract Method
      <command
            category="org.python.pydev.ui.category.refactor"
            name="Python Extract Method"
            id="org.python.pydev.refactor.extractmethod"/>
      <keyBinding
            string="Shift+Alt+M"
            scope="org.python.pydev.ui.editor.scope"
            command="org.python.pydev.refactor.extractmethod"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
-->
   </extension>
<!-- file type extensions for the team (CVS) -->
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="py">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.team.core.ignore">
      <ignore
            enabled="true"
            pattern="*.pyc">
      </ignore>
   </extension>
<!-- filter out .pyc files in the navigation view -->
   <extension
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            selected="True"
            pattern="*.pyc">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.python.pydev.editor.templates.PyContextType"
            id="org.python.pydev.editor.templates.python"/>
      <template
            name="main"
            icon="icons/template.gif"
            description="main function pattern. Season to taste"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.main">
<pattern>
if __name__ == '__main__':
    ${cursor}${Run)()
</pattern>
      </template>
      <template
            name="pd"
            icon="icons/template.gif"
            description="pdb"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.pdb">
         <pattern>import pdb;pdb.set_trace()</pattern>
      </template>
      <template
            name="stdout"
            icon="icons/template.gif"
            description="Prints to sys.stdout"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.stdout">
         <pattern>print >> sys.stdout, ${cursor}${data}</pattern>
      </template>
      <template
            name="stderr"
            icon="icons/template.gif"
            description="Prints to sys.stderr"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.stderr">
         <pattern>print >> sys.stderr, ${cursor}${data}</pattern>
      </template>
      <template
            name="eq"
            icon="icons/template.gif"
            description="equals and not equals"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.eq">
<pattern>
def __eq__(self,o):
    if isintance(o, self.__class__):
        pass
        #TODO:class checking

    return False

def __ne__(self,o):
	return not self == o
</pattern>

      </template>

      <template
            name="iff"
            icon="icons/template.gif"
            description="Normal 'if' test"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.iff">
         <pattern>
if ${cursor}${condition}: True
         </pattern>
      </template>
           <template
            name="def"
            icon="icons/template.gif"
            description="global method definition"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.def">
         <pattern>
def ${cursor}${method}(): True
         </pattern>
      </template>
      <template
            name="debugger"
            icon="icons/template.gif"
            description="Creates an in-module debugger"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.debug">
<pattern>
import sys
debugToggle = 1
def debug(*values):
    if debugToggle == 0: return
    print >> sys.stderr, "DBG>", 
    for v in values: print >> sys.stderr,  v,
    print >> sys.stderr, '.'
${cursor}
</pattern>
      </template>
      <template
            name="dbg"
            icon="icons/template.gif"
            description="print a debug line.(use the debugger macro to define an in-module global debug method first!)"
            contextTypeId="org.python.pydev.editor.templates.python"
            id="org.python.pydev.editor.templates.python.dbg">
         <pattern>debug('==>', ${cursor}${data})</pattern>
      </template>
   </extension>

</plugin>
