/*
 * Created on Dec 10, 2006
 * @author Fabio
 */
package com.python.pydev.refactoring;


public class TestDependentRefactoring{
    public static final String TEST_PYDEV_COM_BASE_LOC = "D:/workspaces/pydev/plugins/";
    public static final String TEST_PYSRC_LOC_REFACTORING = TEST_PYDEV_COM_BASE_LOC+"com.python.pydev.refactoring/tests/pysrcrefactoring/";
}
